@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal: #3BBFBF;
  --pink: #E8197D;
  --navy: #090C17;
  --navy-card: #111628;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #090C17;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
